.sidebar {
    @include padding(2rem null);
    &__block {
        padding: 1rem 2rem;
        $p: &;
        &--alt{
            border: 1px solid $black;
            #{$p}-title{
                letter-spacing: 1px;
            }
            #{$p}-list {
                line-height: 2rem;
                padding-left: 0;
            }
            .fa {
                color: $black;
            }
        }
    }
    &__block-title{
        letter-spacing: 2px;
        font-weight: bold;
    }
    &__block-list {
        padding-left: 1rem;
        color: $gray;
        a{
            &:hover {
               color: $gray--dark;
            }
        }
    }
}
.filter-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    $counter: 1;
    border: 2px solid transparent;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    @each $label, $colors in $material-colors {
       // $c: map-get($map: $color, $key: 'a400');
       @each $l, $c in $colors {
           @if($l == 'a400') {
               &:nth-child(#{$counter}) {
                background-color: $c;
               }
           }
       }
       $counter: $counter+1;
    }
    &.active {
        border-color: $black;
    }
}
