html, body{
    font-size: $font-size;
}
body {
    height: 100%;
    min-height: 400px;
    min-width: 320px;
    color: $gray--dark;
}

main {
    min-height: 410px;
}

a {
    color: currentColor;

    &:hover {
        text-decoration: none;
        color: currentColor;
    }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.page-section {
    @include padding(80px null);
}

.text-muted {
    color: $gray;
}