.input-search {
    $btn-size: 2rem;
    position: relative;
    color: $gray;
    input {
        color: currentColor;
        border-width: 0 0 2px;
        border-color: $gray;
        padding-left: $btn-size;
        font-weight: bold;
        position: relative;
    }

    [type=submit] {
        color: currentColor;
        background-color: transparent;
        border: none;
        width: $btn-size;
        transform: translateY(-50%);
        @include position(absolute, 50% null null 0);

    }

    input,
    [type=submit] {
        &:focus {
            outline: none;
        }
    }

    @include placeholder {
        color: currentColor;
        font-weight: bold;
    }
    &--lg {
        $input-size: 50%;
        font-size: $font-size--large;
        width: 100%;
        @include padding(2rem null);
        input{
            width: $input-size;
        }
        [type=submit] {
            left: (100% - $input-size) / 2;
        }
    }
}

select {
    border: none;
    font-weight: bold;
    color: currentColor;
    @include padding(null 0.25rem);
}

#{$all-text-inputs} {
    min-height: 34px;
    padding: 0.25rem 0.5rem;
    .form-inline &{
        margin-right: 1rem;
    }
}
.form-control, .form-control-lg, .form-control-sm {
    box-shadow: none;
    border-radius: $border-radius;
}